SUBSYSTEMS=="usb", ATTRS{idProduct}=="6060", ATTRS{idVendor}=="feed", GROUP="zeal60"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="6065", ATTRS{idVendor}=="feed", GROUP="zeal60"

